<section id="eco-intro">
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-6 text-center text-md-end eco-image-container">
              <img class="img-fluid animated-image circular-image" src="assets/ecolodges1.jpg" alt="Ecolodge sostenible">
          </div>
          <div class="col-md-6 text-center text-md-start animate__animated animate__bounceInLeft">
              <h1>
                  <div class="display-2">Ecolodges para Ti</div>
                  <div class="display-5 text-muted">Descubre alojamientos sostenibles</div>
              </h1>
              <p class="eco-lead my-4 text-muted">Encuentra el lugar perfecto para conectar con la naturaleza.</p>
              <a class="btn eco-explore-btn btn-lg" routerLink="/Explore">Explorar Ahora 
                  <i class="fa-solid fa-leaf eco-icon" style="color: #ffffff;"></i>
              </a>
          </div>
      </div>
  </div>
</section>

<section id="about-section" class="animate__animated animate__bounceInRight">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h1>
                    <div class="display-2">Sobre Nosotros</div>
                </h1>
                <div class="about-content">
                  <p class="eco-lead my-4 text-muted">
                      ¡Bienvenido a EcoLodges! Nuestra plataforma conecta a los viajeros con alojamientos ecológicos en todo el mundo.  
                      Ya sea que busques una cabaña con energía solar en las montañas o un refugio sostenible en la playa,  
                      ofrecemos una amplia selección de estancias ecológicas.
                  </p>
                  <p class="eco-lead my-4 text-muted">
                      Apoya el turismo sostenible y reduce tu huella de carbono eligiendo un ecolodge para tu próxima aventura.
                  </p>
                  <p class="eco-thanks text-muted">¡Gracias por visitar nuestra plataforma!</p>
              </div>
              
            </div>
            <div class="col-md-6 text-end d-none d-md-block">
                <h1 class="text-dark eco-title fw-bold">Eco<span class="eco-highlight">Lodges</span></h1>
                <h1 class="text-dark eco-title fw-bold">Má<span class="eco-highlight">laga</span></h1>
            </div>
        </div>
    </div>
</section>
  
<div id="Footer">
<footer class="text-center text-lg-start text-white eco-footer">
  <div class="container p-4 pb-0">
      <section>
          <div class="row">
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">EcoLodges</h6>
                  <p>Nuestra misión es promover el turismo sostenible y ofrecer a los viajeros conscientes con el medio ambiente estancias únicas en alojamientos respetuosos con la naturaleza.</p>
              </div>
              <hr class="w-100 clearfix d-md-none" />
              
              <hr class="w-100 clearfix d-md-none" />
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                  <p><i class="fas fa-home mr-3"></i> Av. Andalucía nº4 Málaga</p>
                  <p><i class="fa-solid fa-envelope mr-3"></i> support&#64;ecolodges.com</p>
                  <p><i class="fas fa-phone mr-3"></i> +34 123 456 789</p>
              </div>
              <hr class="w-100 clearfix d-md-none" />
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Legal</h6>
                  <p><a class="text-white" routerLink="/privacy-policy">Privacy Policy</a></p>
                  <p><a class="text-white" routerLink="/cookies-policy">Cookies Policy</a></p>
                  <p><a class="text-white" routerLink="/legal-notice">Legal Notice</a></p>
              </div>
          </div>
      </section>
      <hr class="my-3">
      <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                  <div class="p-3">© 2025 EcoLodges Málaga. All Rights Reserved.</div>
                  <div class="p-3">Luis Alberto Mesa Martos</div>
              </div>
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                  <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
      </section>
  </div>
</footer>
</div>
