<section id="intooo">
    <div class="container">
        <div class="row justfy-content-center align-items-center">
          <div class="col-md-6 text-center   text-md-end sss">
            <img class="img-fluid animated-image circular-image" src="assets/ecolodges1.jpg" alt="">
          </div>
            <div class="col-md-6 text-center text-md-start animate__animated animate__bounceInLeft">
                <h1>
                    <div class="display-2">Houses for U</div>
                    <div class="display-5 text-muted">Best renting Houses with us</div>
  
                </h1>
                <p class="leadd my-4 text-muted">you will find the opportunity that you want her !!</p>
                <a class="btn explor btn-lg" routerLink="/Explore">Explore Now<i class="fa-solid fa-house houseicon" style="color: #ffffff;"></i></a>
            </div>
           
        </div>
    </div>
  </section>
  <section id="Aboutus" class="animate__animated animate__bounceInRight">
    <div class="container">
        <div class="row justfy-content-center align-items-center">
            <div class="col-md-6 text-center ">
                <h1>
                    <div class="display-2">About us</div>
                </h1>
                <div class="aboutcontent">
                  <p class="lead my-4 text-muted">Welcome to our website for renting and selling houses! We are an online platform dedicated to facilitating the search and transaction of real estate properties. Our goal is to help you find the perfect home, whether it's for short-term or long-term rental, or for purchase.
                    We understand that finding the ideal house can be a challenge, which is why we have created this user-friendly platform that brings together a wide selection of houses available in different regions. Whether you're looking for a modern urban house, a charming countryside home, or a downtown apartment, we have a variety of options to suit your needs and lifestyle.
                  <p class="lead my-4 text-muted">We will keep posting more important posts on our Website for all of you. Please give your support and love.</p>
                  <p class="thanks text-muted" style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site</p>
              </div>
            </div>
            <div class="col-md-6 text-end d-none d-md-block">
                 <h1 class="text-dark titlee fw-bold">Ren<span class="haftitle">tly</span></h1>
            </div>
        </div>
    </div>
  </section>
  
  <div id="Fouter">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #12337a">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Rently
              </h6>
              <p>
                Rently is a Professional services Platform.
                 Here we will provide you only interesting content,
                  which you will like very much.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a class="text-white" routerLink="/profile">Your Account</a>
              </p>
              <p>
                <a class="text-white" routerLink="/AddHouse">Add a Property</a>
              </p>
              <p>
                <a class="text-white" routerLink="/Explore">Property List</a>
              </p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Dakhla, NR 10012, MA</p>
              <p><i class="fas fa-envelope mr-3"></i> Rently&#64;gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 212 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 212 234 567 89</p>
            </div>
          </div>
        </section>
        <hr class="my-3">
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="p-3">
                © 2023 Copyright:Moad Jaafar
              </div>
            </div>
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-facebook-f"></i
                ></a>
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-twitter"></i
                ></a>
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-google"></i
                ></a>
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-instagram"></i
                ></a>
            </div>
          </div>
        </section>
      </div>
    </footer>
  </div>