<div class="container mt-4">
  <h2 class="mb-4">Filtrar Ecolodges</h2>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="solarCheckbox" #solarCheckbox (change)="solarFilter = solarCheckbox.checked ? true : null">
        <label class="form-check-label" for="solarCheckbox">
          Con Paneles Solares
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="energiaCheckbox" #energiaCheckbox (change)="energiaFilter = energiaCheckbox.checked ? true : null">
        <label class="form-check-label" for="availableCheckbox">
          Con Energía Renovable
        </label>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <button class="btn btn-primary" (click)="filtrar()">Filtrar</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Descripción</th>
        <th>Precio/Noche</th>
        <th>Paneles Solares</th>
        <th>Energia Renovable</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ecolodge of ecolodges"> <!-- Usamos 'ecolodges' aquí -->
        <td>{{ ecolodge.nombre }}</td>
        <td>{{ ecolodge.ubicacion }}</td>
        <td>{{ ecolodge.descripcion }}</td>
        <td>{{ ecolodge.precio }} €</td>
        <td>{{ ecolodge.paneles_solares ? 'Sí' : 'No' }}</td>
        <td>{{ ecolodge.energia_renovable ? 'Sí' : 'No' }}</td>
        <td>
          <button [routerLink]="['/editar-ecolodge', ecolodge.id]" class="btn btn-warning btn-sm">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteEcolodge(ecolodge.id)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

