<form [formGroup]="ecolodgeForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input id="nombre" formControlName="nombre" type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="ubicacion" class="form-label">Ubicación</label>
    <input id="ubicacion" formControlName="ubicacion" type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio por noche</label>
    <input id="precio" formControlName="precio" type="number" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="imagenes" class="form-label">Subir Imágenes</label>
    <input type="file" id="imagenes" (change)="onImageSelected($event)" class="form-control" multiple />
  </div>

  <!-- Mostrar imágenes asociadas al ecolodge -->
  <div *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <!-- Ver lo que llega a la variable image -->
      <img [src]="'http://localhost:8000/storage/'+ image.ruta_imagen" alt="Imagen" class="img-thumbnail" />
    </div>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!ecolodgeForm.valid">Actualizar</button>
  </div>
</form>
