<div class="container mt-4">
    <h2>Historial de Reservas</h2>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <table class="table table-striped mt-3" *ngIf="historialReservas.length > 0; else noReservas">
      <thead>
        <tr>
          <th>Ecolodge</th>
          <th>Ubicación</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Viajero</th>
          <th>Precio Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of historialReservas">
            <td>{{ reserva.ecolodge.nombre }}</td> <!-- Nombre del ecolodge -->
            <td>{{ reserva.ecolodge.ubicacion }}</td> <!-- Ubicación del ecolodge -->
            <td>{{ reserva.fecha_inicio }}</td>
            <td>{{ reserva.fecha_fin }}</td>
            <td>{{ reserva.viajero.first_name }} {{ reserva.viajero.last_name }}</td> <!-- Nombre completo del viajero -->
            <td>{{ reserva.precio_total | currency }}</td>
            <td>{{ reserva.estado }}</td>
          </tr>
      </tbody>
    </table>
  
    <ng-template #noReservas>
      <p>No hay reservas finalizadas en el historial.</p>
    </ng-template>
  </div>
  
